<div class="navigation">
    <div class="brand">
        <img src="../../../../../assets/images/brand_logo.png" alt="brand logo" class="brandLogo">

        <span class="brandText">
            {{ title }}
        </span>
    </div>

    <div class="nav-item" routerLinkActive="active" matRipple matRippleCentered="centered" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="mr-3 mt-2 nav-item-icon" aria-hidden="false" aria-label="Example home icon">dashboard</mat-icon>
        <a routerLink="/main/home" class="nav-item-text">Dashboard</a>
    </div>
    <div class="nav-item" matRipple matRippleCentered="centered">
        <mat-icon class="mr-3 mt-2 nav-item-icon" aria-hidden="false" aria-label="Example home icon">receipt</mat-icon>
        <a routerLink="/main/home" class="nav-item-text">Notes</a>
    </div>
    <div class="nav-item" matRipple matRippleCentered="centered">
        <mat-icon class="mr-3 mt-2 nav-item-icon" aria-hidden="false" aria-label="Example home icon">notes</mat-icon>
        <span class="nav-item-text">
            Notes
        </span>
    </div>
</div>