<div #header class="header">
    <mat-toolbar class="header">
        <button mat-icon-button (click)="toggleNav()">
            <mat-icon>menu</mat-icon>
        </button>
    
        <span class="spacer"></span>
        
        <button mat-icon-button aria-label="icon" [matMenuTriggerFor]="menu">
            <mat-icon aria-hidden="false" aria-label="icon">account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="authService.logout()">
                <mat-icon aria-hidden="false" aria-label="icon">power_settings_new</mat-icon>Logout
            </button>
        </mat-menu>

    </mat-toolbar>
</div>