.spacer { 
    flex: 1 1 auto; 
}

.header {
    vertical-align: top;
    transition: all 0.3s ease 0s;
    flex-shrink: 0;
    position: fixed;
    z-index: 99999;
}

.header-name {
    font: 500 20px/32px Roboto,Helvetica Neue,sans-serif;
    letter-spacing: normal;
}

.navShow {
    width: calc(100% - 260px);
}

.navHidden {
    width: 100%;
}

.name {
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
