.dialog-title {
    padding-top: 20px;
    display: flex!important;
    justify-content: space-between;
    align-items: center;
}

.dialog-header {
    margin-right: auto;
}

.example-loading-shade {
    top: 150px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-form {
    margin-top: 20px;
}
