<app-auth-layout>
  <div class="row" authContent>
    <div class="col-sm-12 col-md-5 col-lg-5 reset-padding">
        <div class="image-container h-100">
            <img src="../../../../../assets/images/dreamer-f90.jpg" alt="login icon">
        </div>
    </div>
    <div class="col-sm-12 col-md-7 col-lg-7 login-column reset-padding">
        <div class="login-form">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <app-row>
                    <mat-form-field appearance="outline" class="w-100 form-input" rowContent>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="email">
                        <mat-error *ngIf="f.email.errors">Email is required.</mat-error>
                    </mat-form-field>
                </app-row>

                <app-row>
                    <mat-form-field appearance="outline" class="w-100 form-input" rowContent>
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
                        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>

                        <mat-error *ngIf="f.password.errors">Password is required.</mat-error>
                    </mat-form-field>
                </app-row>

                <app-row>
                    <div rowContent>
                        <div class="checkbox-container">
                        <mat-checkbox color="primary" class="float-left mobileFont test2" formControlName="terms">
                            I have read and agree to the terms of service.
                        </mat-checkbox>
                        <mat-error class="mat-form-field-subscript-wrapper error-align" *ngIf="f.terms.errors">You must agree term of service.</mat-error>
                        </div>
                    </div>
                </app-row>

                <app-row>
                    <div rowContent class="mt-3">
                        <button mat-raised-button color="primary" class="float-left mt-2 mobileFont" [disabled]="loading">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Sign in
                        </button>
                        <span class="float-left ml-3 mr-3 mt-3 mobileMargin" rowContent>or</span>
                        <button type="button" mat-button class="float-left mt-2 mobileFont" rowContent routerLink="/auth/register">Sign Up</button>
                    </div>
                </app-row>

                <app-row>
                    <button type="button" mat-button class="float-left mt-3" color="primary" rowContent routerLink="/auth/forgot-password">Forgot password?</button>
                </app-row>
            </form>
        </div>
    </div>
  </div>
</app-auth-layout>
